p{margin:0;}
body{font-size:0.75rem;}
.error{color:red;font:11px arial;}

._title{font:bold 1rem arial;padding-bottom:5px;}

/**Login**/
.screen_register, .screen_login{max-width:400px;margin:3% auto 0;background:#fff;border:1px solid rgba(0, 0, 0, 0.1);}
.screen_login .login-panel{padding:5%;}
.screen_login .form-group{margin-top:17px;}
.login-panel .checkbox{padding:20px 0 0;}
.login-panel .btn {width:100%;}
.footer_register{text-align:center;padding:20px 0;}
.txt_registeredyet{font-size:1.25em;font-weight:bold;}

.section_socialmedia{text-align:center;border-top:1px solid rgba(0, 0, 0, 0.1);border-bottom:1px solid rgba(0, 0, 0, 0.1);padding:20px 0 10px;}


.btn_socialmedia .btn{text-transform:capitalize;max-width:200px;box-shadow:none;font-weight: bold;}
._fb{background-color:#3b5998;}
._fb:hover{background-color:#2c467b;}
._twitter{background-color:#0084b4;}
._twitter:hover{background-color:#00aced;}
._google{background-color:#d34836;}
._google:hover{background-color:#2d2d2d;}
._mainbutalign{margin:10px 0 0;}

.link_forgot_password{text-align:center;padding:15px 0;}

/**Signup**/
.screen_register{padding:20px 20px 10px;}

@media only screen and (max-width: 767px) {
    .screen_register, .screen_login{margin:0;border:0;padding:5%;}
    .section_socialmedia{padding:40px 0 30px;}
}